server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: 123456
    key-alias: tomcat
    key-store-type: PKCS12


eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://konkukstudy.site:8761/eureka

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
#            allowCredentials: true
      discovery:
        locator:
          lower-case-service-id: true
          enabled: true
      httpclient:
        ssl:
          use-insecure-trust-manager: true
        connect-timeout: 2000
        response-timeout: 5s
      routes:
        - id: authenticate
          uri: lb://KUPASS-BACK-SERVICE
          predicates:
            - Path=/api/authenticate/**
        - id: user
          uri: lb://KUPASS-BACK-SERVICE
          predicates:
            - Path=/api/user/**
        - id: search
          uri: lb://KUPASS-BACK-SERVICE
          predicates:
            - Path=/api/search/article/**
        - id: signup
          uri: lb://KUPASS-BACK-SERVICE
          predicates:
            - Path=/api/signup/**